<h2>Select component for Wijmo errors</h2>
<saf-select
  density="inherit"
  id="select-preview"
  label="Label"
  invalid="false"
  aria-invalid="false"
  validation-message="Message here"
  instructional-text="Instructional text"
  select-aria-label=""
>
  <saf-listbox-option value=""> Select an option... </saf-listbox-option>

  <saf-listbox-option value="1"> William Hartnell </saf-listbox-option>

  <saf-listbox-option value="2"> Patrick Troughton </saf-listbox-option>

  <saf-listbox-option value="3"> Jon Pertwee </saf-listbox-option>

  <saf-listbox-option value="4">
    Tom Baker is a really really long name
  </saf-listbox-option>

  <saf-listbox-option value="5"> Peter Davidson </saf-listbox-option>

  <saf-listbox-option value="6"> Colin Baker </saf-listbox-option>

  <saf-listbox-option value="7"> Sylvester McCoy </saf-listbox-option>

  <saf-listbox-option value="8"> Paul McGann </saf-listbox-option>

  <saf-listbox-option value="9"> Christopher Eccleston </saf-listbox-option>

  <saf-listbox-option value="10"> David Tenant </saf-listbox-option>

  <saf-listbox-option value="11"> Matt Smith </saf-listbox-option>

  <saf-listbox-option value="12"> Peter Capaldi </saf-listbox-option>

  <saf-listbox-option value="13"> Jodie Whittaker </saf-listbox-option>

  <saf-listbox-option value="14"> Ncuti Gatwa </saf-listbox-option>
  <!--fast-v1oawb{fast-v1oawb-3368}fast-v1oawb-->
</saf-select>
